header.header
    nav.nav.nav--tours 
        a.nav__el(href="/") All tours(Containerized App)
    .header__logo
        img(src="/img/logo-white.png" alt="Touring logo")
    nav.nav.nav--user
        if user
            a.nav__el.nav__el--logout Log Out
            a.nav__el(href='/me')
                img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of the ${user.name}`)
                span= user.name.split(' ')[0] /*Splitting by space and only showing the first name */
        else
            a.nav__el(href="/login") Log In
            a.nav__el.nav__el--cta(href="/signup") Sign up
